<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../../favicon.ico" rel="icon"/>
    <title>Widgets R Us</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<h1 class="jumbotron">Widgets result</h1>
<div class="col-md-6 col-md-offset-3">
    <table>
        <!--/*@thymesVar id="widget" type="com.hopkins.example.models.Widget"*/-->
        <tr>
            <td>
                <ul>
                    <li name="name" th:text="${widget.getName()}">Name</li>
                    <li name="purpose" th:text="${widget.getPurpose()}">Purpose</li>
                    <li name="size" th:text="${widget.getSize()}">Size</li>
                    <li name="id" th:text="${widget.getId()}">ID</li>
                    <li><a href="/">Home</a></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

</body>
</html>