<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Widgets R Us</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<h1 class="jumbotron">Add widget</h1>


<div class="col-md-6 col-md-offset-3">
    <!--/*@thymesVar id="widget" type="com.hopkins.example.models.Widget"*/-->
    <form th:object="${widget}" th:action="@{/widget/}" method="post">
        <label>Name</label>
        <input type="text" class="form-control" th:field="*{name}"/>
        <label>Purpose</label>
        <textarea class="form-control" rows="3" th:field="*{purpose}"></textarea>
        <label>Size</label>
        <input type="number" class="form-control" th:field="*{size}"/>
        <label>ID</label>
        <input type="number" class="form-control" th:field="*{id}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>